Compare GL SL ML

In [10]:
s

      language  F1-score  Precision-score  Recall-score
0       HEBREW  0.983046         0.999823      0.969852
1       ARABIC  0.981503         0.995121      0.970614
2   PORTUGUESE  0.967375         0.988982      0.951724
3      ITALIAN  0.988722         0.997044      0.981939
4       FRENCH  0.990103         0.995612      0.985251
5      SPANISH  0.992900         0.998564      0.988019
6       GERMAN  0.977840         0.985650      0.972004
7      ENGLISH  0.883267         0.932127      0.851488
8      RUSSIAN  0.993349         0.996135      0.991331
9      FINNISH  0.968260         0.991203      0.953820
10  VIETNAMESE  0.675883         0.692292      0.669003
11      KOREAN  0.996794         0.998814      0.995369
12     CHINESE  0.775833         0.781338      0.772710
13    JAPANESE  0.923018         0.926177      0.921735

In [64]:
import pandas as pd
s1 = pd.read_csv("/Users/qier/MasterThesis_Tokenization/results/3_SL.csv").rename(columns={'Unnamed: 0':'language'})
s2 = pd.read_csv("/Users/qier/MasterThesis_Tokenization/results/4_GL.csv").rename(columns={'Unnamed: 0':'language'})
s3 = pd.read_csv("/Users/qier/MasterThesis_Tokenization/results/2_e256.csv").rename(columns={'Unnamed: 0':'language'})

In [70]:
s2

            F1-score
language
HEBREW      0.985961
ARABIC      0.987401
PORTUGUESE  0.976536
ITALIAN     0.995132
FRENCH      0.993408
SPANISH     0.998702
GERMAN      0.982665
ENGLISH     0.894218
FINNISH     0.977041
RUSSIAN     0.995523
KOREAN      0.998697
CHINESE     0.850392
JAPANESE    0.924217
VIETNAMESE  0.668235

In [65]:
s1 = s1[['language','F1-score']].set_index('language')
s2 = s2[['language','F1-score']].set_index('language')
s3 = s3[['language','F1-score']].set_index('language')

In [84]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [94]:
df = pd.concat([s1,s2,s3],axis=1,sort=False)
df.columns = ['SL','GL','ML']
# df['Group'] = [1,1,2,2,2,2,2,2,3,2,4,3,5,5]
# df.groupby('Group').mean()

In [99]:
df.style.apply(highlight_max,axis=1)

In [ ]:
# plot out the loss & Recall/F1 Score along the